@charset "utf-8";
/*
   sample start file for final project - educational use only
   
   Author: mlisa hartzell  
   Date:   04062025  
   
  

*/

* {
    margin: 0; 
    padding: 0;
}


body {
    font-size: 1.1em;
    font-family: Times New Roman, Arial, sans-serif;
    background-color: rgb(76, 140, 144);
    background-image: url("peacockpattern.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#container {
    width: 930px;
    border-width: 1px;
    margin: 0 auto;
    background-color: #06402B;
    color: white;
}


header {
    width: 910px;	/* reduced by 20px to accommodate shadow */
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #888888;
    box-shadow: 15px 15px 5px 0 rgb(255, 156, 51);
    border-radius: 25px;  	
}

header img {
    box-shadow: 0 0 20px 5px green;
    border-radius: 15px;
}

nav {
    width: 200px;
    margin: 0 5px 0 5px; 
    padding: 25px 10px 0 10px;
    float: left;
    text-align: center;
    
}

nav ul {
    font-weight: bold;
    list-style: none;
}

nav ul li a {
    padding: 5px;
    color: white;
    text-decoration: none;
    display:block;
}

nav ul li a:hover {
    background: gray;
    border-radius: 10px;
    color: white;
}

#main {
    width: 446px;
    padding: 10px;
    float: left;
    color: white;
    border-left: 2px solid;
    border-right: 2px solid;    
    background-image: url(images/peacockbackground.jpeg); 
}

#main p {
    text-indent: 1.5em;
}

figure{
    padding-top: 10px;
    text-align: center;
}

figcaption {
    font-style: italic;
}

aside {
    width: 200px;
    margin: 0 5px 0 5px;
    padding: 10px;
    float: right;
}

aside p {
    font-style: italic;
    font-size: 0.9em;
}

h2 {
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 0.5em;
}

h3 {
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

footer {
    width: 910px;
    margin: 0;
    padding: 10px;
    background-color: rgb(255, 156, 51);
    clear: both;
    color: white;
    font-weight: bold;
    text-align: center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

#wrapper {
    width: 930px;
    margin-bottom: 10px;
    border: 2px solid;
    border-radius: 25px;
}

/* navigation for footer */
footer a:link {
    color: white;
    text-decoration: none;
}

footer a:visited {
    color: navy;
    background-color: blue;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

table {
   border: 1px solid rgb(255, 255, 255, 0.4);
   border-collapse: collapse;
   color: rgb(51, 51, 51, 0.9);     
   width: 100%;
}

table caption { 
   font-size: 1.5em;
   margin: 0px 0px 10px 0px;
}

table td {
   border: 1px solid rgb(255, 255, 255, 0.4);
   vertical-align: top;
   padding: 4px;
   width: 50%;
}

table tbody tr:nth-of-type(odd) {
   background-color: rgb(255, 255, 255, 0.4);
}

table tbody tr:nth-of-type(even) {
   background-color: rgb(255, 255, 255, 0.6);
}

table a {
   color: rgb(51, 51, 51, 0.9);
   text-decoration: none;
}

table a:hover {
   text-decoration: underline;
}

